
.card{
  border:1px solid white;
  border-radius:10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding:20px;
  Margin:10px;
  text-align:center;
  max-width: 250px;
  display:inline-block;

}
/* .card.card-image{
  max-width:60%;
  height:auto;
  border-radius:50%;
  margin-bottom:10px;
} */
.card.card-title{
  font-family:arial,sans-serif;
  margin:0;
  color:rgb(255, 145, 0);

}
.card.card-text{
  font-family: arial, sans-serif;
  color: rebeccapurple;
}
/* .button{
  background-color:blue;
  color:white;
  padding:10px 20px;
  border-radius:5px;
  border:none;
  cursor:pointer;

} */
/* .student{
  font-family:arial,sans-serif;
  font-size: 2em;
  padding:10px;
  border:1px solid hsla(0, 0%, 50%, 0.8);
}
.student p{
  margin:0;
} */
 .welcome-message{
  font-size:2.5em;
  background-color:rgb(255, 145, 0);
  color:white;
  padding:10px;
  border-radius:5px;
  margin:0;

 }
 .loggin-prompt{
  font-size: 2.5em;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0;

 }
 .list-category{
  font-size:2.5em;
  font-weight:bold;
  color:rosybrown;
  margin-bottom:10px;
  text-align:center;
  border:3px solid;
  border-radius:5px;
background-color: aqua;

 }
 .list-items li{
  font-size:2em;
  list-style:none;
  color:red;
  text-align:center;
  margin:0;

 }
 .list.items li:hover{
  color: blanchedalmond;
 
  cursor:pointer;
 }

 .counter-container{
  text-align:center;
  font-family:Araial,sans-serif;

 }
 .count-display{
  font-size:2em;
  margin-top:0;
  margin-bottom:50px ;

 }
 .counter-button{
  width:150px;
  height:50px;
  font-size:1.5em;
  font-weight:bold;
  margin:0px 5px;
  background-color: hsl(197, 100%, 50%);
  color: white;
  border:none;
  border-radius: 5px;
  cursor:pointer;
 }

  .counter-button:hover{
    background-color: hsl(197, 100%, 30%);
  }

  body{
    font-family:Arial,sans-serif;
  }
  .color-picket-container{
    display:flex;
    flex-direction:column;
    align-items:center;
  }
  h1{
    margin:50px;
    font-size:3rem;

  }
  .color-display{
    width:300px;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:5px solid hsl(0,0%,80%);
    border-radius:25px;
    margin-bottom:25px;
    transition: 0.25 ease;


  }

  body{
    background-color:hsl(0,0%,0%)
  }
  .to-do-list{
    font-family:Arial, Helvetica, sans-serif;
    text-align : center;
    margin-top:100px;
  }

  h1{
    font-size:4rem;
    color:white;
  }
  button{
    font-size: 1.7 rem;
    font-weight:bold;
    padding:10px 20px;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    transition:background-color 0.5 ease;

  }
  .add-button{
    background-color: hsl(125,47%,54%);
  }
  .add-button:hover {
          background-color: hsl(125, 47%, 44%);
  }
  .delete-button {
  background-color: hsl(0, 47%, 54%);
  }
  
    .delete-button:hover{
      background-color: hsl(36, 47%, 44%);
    }

  .move-up-button {
  background-color: hsl(232, 100%, 50%);
  }
      
  .move-up-button:hover {
  background-color: hsl(250, 75%, 56%);
  }

  .move-down-button {
  background-color: hsl(232, 100%, 50%);
  }
            
  .move-down-button:hover {
  background-color: hsl(250, 75%, 56%);
  }
  input [type="text"]{
    font-size:1.6rem;
    padding:10px;
    border:2px solid hsla(0,0%,80%,0.5);
    border-radius:5px;
    color:hsla(0,0%,0%,0.5);


  }
  ol{
    padding:0;
  }
  li{
    font-size:2rem;
    font-weight:bold ;
    padding:15px;
    background-color: hsl(0,0%,97%);
    margin-bottom:10px;
    border:3px solid hsla(0,0%,85%,0.75);
    border-radius: 5px;
    display:flex;
    align-items:center;



  }
  .text{
    flex:1;
    color:black;
    /* flex:1 is 
    flex-grow:1;
    flex-shrink:1;
    flex-basis:0% */
  }
.delete-button,.move-up-button,.move-down-button{
  padding:8px 12px;
  font-size:1.4 rem;


}
